<!-- <div id="map"></div> -->


<!--
<div id="tab_serialport1">Serialport1 Settings</div>
<div id="tab_serialport2">Serialport2 Settings</div>
<div id="section_portconfig_tcpClient_1" style="display: none;">Table for Port 1</div>
<div id="section_portconfig_tcpClient_2" style="display: none;">Table for Port 2</div>
-->


<div class="tab-content" id="tabs">
    <ul class="nav nav-tabs" id="my_tab" data-tabs="tabs">

        <li class="TabC TabCel active">
            <a id="sectiontab_port1" href="#tab_Port1" data-toggle="tab">Port 1
                <span class="badge"></span>
            </a>
        </li>

        <li class="TabC TabBand">
            <a id="sectiontab_port2" href="#tab_Port2" data-toggle="tab">Port 2
                <span class="badge"></span>
            </a>
        </li>
    </ul>





    <div class="tab-pane TabC TabCel active" id="tab_Port1">
        <div id="section_port1"></div>
    </div>


    <div class="tab-pane TabC TabBand" id="tab_Port2">
        <div id="section_port2"></div>
    </div>
</div>