<div id="map"></div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Add New Device:</h3>
	</div>
	
	<table class="table table-condensed table-hover">
		<thead>
			<tr class="cbi-section-table-titles">
				<th class="cbi-section-table-cell">Device Name</th>
				<th class="cbi-section-table-cell">Port Number</th>
				<th class="cbi-section-table-cell"> </th>
			</tr>
		</thead>
		
		<tbody data-toggle="validator">
			<tr class="luci2-section-item" id="sectionitem_NewEvent" data-luci2-sid="NewEvent">
				
				
				
				<td>
					<div class="luci2-field">
						<div class="luci2-field-widget">
							<input class="form-control luci2-field-validate" id="field_NewEvent_name" type="text" placeholder="">
	
							<div class="luci2-field-error label label-danger" style="display: none;"></div>
						</div>
					</div>
				</td>
				
				<td>
					<div class="luci2-field">
						<div class="luci2-field-widget">
							<input class="form-control luci2-field-validate" id="field_NewEvent_InterfaceID" type="text" placeholder="">
	
							<div class="luci2-field-error label label-danger" style="display: none;"></div>
						</div>
					</div>
				</td>
				
<!--
				<td>
					<div class="luci2-field">
						<div class="luci2-field-widget">
							<input class="form-control luci2-field-validate" id="field_NewEvent_MeterID" type="text" placeholder="">
	
							<div class="luci2-field-error label label-danger" style="display: none;"></div>
						</div>
					</div>
				</td>
				
-->
				
				
				<td class="text-right" style="width: 1%;">
					<div class="btn-group">
						<button type="button" title="" id="AddNewEvent" class="btn btn-success">Add</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>	


