<div id="map"> </div>

<div class="panel panel-default" id="Certificates_section" style="display: none;">
        <div class="panel-heading">
                <h3 class="panel-title">
                        <%:Upload Certificates archive as ZIP %>
                </h3>
        </div>
        <div class="panel-body">
                <table class="table table-condensed table-hover">
                        <tbody>
                                <tr id="server_1" style="display: none;">
                                        <td style="width: 60%;">
                                                <p><b>Upload Server 1</b>
                                                        <br /> Upload Certificates if Publish protocol is MQTT and
                                                        autherntication mode is TLS.
                                                </p>
                                        </td>

                                        <td>
                                                <div class="btn-group btn-group-sm">
                                                        <button class="btn btn-primary" id="btn_upload"
                                                                style="width:110px" title="Upload"
                                                                type="button">Upload</button>
                                                        <button class="btn btn-primary" id="btn_delete"
                                                                style="width:110px" title="Delete"
                                                                type="button">Delete</button>
                                                        <!-- <button class="btn btn-default" id="default"  style="margin-left: -4.8px; width:110px" title="Reset the configuration" type="button">Default</button> //-->
                                                </div>
                                        </td>
                                </tr>
                                <!-- second -->
                                <tr id="server_2" style="display: none;">
                                        <td style=" width: 60%;">
                                                <p><b>Upload Server 2</b>
                                                        <br /> Upload Certificates if Publish protocol is MQTT and
                                                        autherntication mode is TLS.
                                                </p>
                                                <br><br>
                                        </td>

                                        <td>
                                                <div class="btn-group btn-group-sm">
                                                        <button class="btn btn-primary" id="btn_upload2"
                                                                style="width:110px" title="Upload"
                                                                type="button">Upload</button>
                                                        <button class="btn btn-primary" id="btn_delete2"
                                                                style="width:110px" title="Delete"
                                                                type="button">Delete</button>
                                                        <!-- <button class="btn btn-default" id="default"  style="margin-left: -4.8px; width:110px" title="Reset the configuration" type="button">Default</button> //-->
                                                </div>
                                        </td>
                                </tr>
                        </tbody>
                </table>
        </div>
</div>