
<div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title"><%:Configuration%></h3>
        </div>
        <div class="panel-body">
                <table class="table table-condensed table-hover">
                        <tbody>
                                <tr>
                                        <td style="width: 60%;"><p><b>Update or Default Configuration</b>
                                         <br/> Please Stop the Application to Update Configuration.
                                               Use update button to update the recent configuration changes.
                                        </p>
                                        </td>
                                        
                                        <td>
                                                <div class="btn-group btn-group-sm">
                                                        <button class="btn btn-primary" id="update" style="width:110px" title="Update the configuration" type="button">Update</button>                               
                                                        <!-- <button class="btn btn-default" id="default"  style="margin-left: -4.8px; width:110px" title="Reset the configuration" type="button">Default</button> //-->
                                                </div>
                                        </td>
                                </tr>
                        </tbody>
                </table>
        </div>
</div>




<div class="panel panel-default">
       
       <div class="panel-heading">
                <h3 class="panel-title"><%:Applications%></h3>
       </div>
       
        <div class="panel-body">
                <table class="table table-condensed table-hover">
                        <tbody>
			       <tr>
                                      <td><b>Start/Stop the Application</b></td>
                                      
                                      <td>
                                            <div class="btn-group btn-group-sm" id="btn-group"></div>
                                      </td>
                               </tr>
                         </tbody>
                </table>
        </div>
</div>
                                

<div id="map"></div>


