<div id="map"></div>
<div class="tab-content" id="tabs">
	<ul class="nav nav-tabs" id="my_tab"  data-tabs="tabs">
		
		<li class="TabC TabGn active">
			<a id="sectiontab_tunnel_general" href="#tab_general" data-toggle="tab">General Settings 
				<span class="badge"></span>
			</a>
		</li>
		
		<li class="TabC TabIP">
			<a id=":w" href="#tab_ipsec" data-toggle="tab">GRE Tunnel
				<span class="badge"></span>
			</a>
		</li>
		
		<li class="TabC TabIPa">
			<a id=":w" href="#tab_ipip" data-toggle="tab">IPIP Tunnel
				<span class="badge"></span>
			</a>
		</li>
		
	</ul>
		
		<div class="tab-pane TabC TabGn active" id="tab_general">
			<div id="section_vpn_general"></div>
	   </div>
			       		
	<div class="tab-pane TabC Tabip"  id="tab_ipsec">
		<div id="section_vpn_ipsec"></div>	
		<div id="Mansection_firewall_port" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Connection</h3>
			</div>
			
			<table class="table table-condensed table-hover">
				<tbody>
					
					<tbody data-toggle="validator">
					<tr class="luci2-section-item" id="sectionitem_NewEvent" data-luci2-sid="NewEvent">
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_name" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
					</tr>	
					<tr class="luci2-section-item" id="sectionitem_firewall_redirect_newRedirect" data-luci2-sid="newRedirect">
						<td class="text-right" style="width: 100%;">
							<div class="btn-group">
								<button type="button" id="AddNewconnectionipsec" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
	        
			
		<table class="table table-condensed table-hover">
						<td class="text-center" style="width: 5%;">							
							<button type="button" id="update_tunnel" title="" class="btn btn-success">Update</button>
						</td>
					</tr>
				</tbody>		
	  </table>			
			
	</div>
			
	</div>
	
		<div class="tab-pane TabC Tabipa"  id="tab_ipip">
		<div id="section_vpn_ipip"></div>	
		<div id="Mansection_firewall_port" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Connection</h3>
			</div>
			
			<table class="table table-condensed table-hover">
				<tbody>
					
					<tbody data-toggle="validator">
					<tr class="luci2-section-item" id="sectionitem_NewEvent" data-luci2-sid="NewEvent">
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_name_ipip" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
					</tr>	
					<tr class="luci2-section-item" id="sectionitem_firewall_redirect_newRedirect" data-luci2-sid="newRedirect">
						<td class="text-right" style="width: 100%;">
							<div class="btn-group">
								<button type="button" id="AddNewconnectionipip" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
	        
			
		<table class="table table-condensed table-hover">
						<td class="text-center" style="width: 5%;">							
							<button type="button" id="update_tunnel_ipip" title="" class="btn btn-success">Update</button>
						</td>
					</tr>
				</tbody>		
	  </table>			
			
	</div>
			
	</div>
	
		<div class="tab-pane TabC Tabeoipa"  id="tab_eoip">
		<div id="section_vpn_eoip"></div>	
		<div id="Mansection_firewall_port" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Connection</h3>
			</div>
			
			<table class="table table-condensed table-hover">
				<tbody>
					
					<tbody data-toggle="validator">
					<tr class="luci2-section-item" id="sectionitem_NewEvent" data-luci2-sid="NewEvent">
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_NewEvent_name_eoip" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
					</tr>	
					<tr class="luci2-section-item" id="sectionitem_firewall_redirect_newRedirect" data-luci2-sid="newRedirect">
						<td class="text-right" style="width: 100%;">
							<div class="btn-group">
								<button type="button" id="AddNewconnectioneoip" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>	
	        
			
		<table class="table table-condensed table-hover">
						<td class="text-center" style="width: 5%;">							
							<button type="button" id="update_tunnel_eoip" title="" class="btn btn-success">Update</button>
						</td>
					</tr>
				</tbody>		
	  </table>			
			
	</div>

 <style>
.cbi-section{
    sbackground: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 30px #0000001a;
    border: 1px solid #70707038;
    border-radius: 10px;
    width: 95%;
    padding: 17px;
margin-bottom:10px;
}
</style>
