<div id="map">	</div>


<div class="panel panel-default">
       
       <div class="panel-heading">
                <h3 class="panel-title"><%:Upload Key file and start NMS%></h3>
       </div>
       
        <div class="panel-body">
                <table class="table table-condensed table-hover">
                        <tbody>
			       <tr>
                                                               
                                      <td>
                                            <div class="btn-group btn-group-sm" id="btn-group"></div>
                                      </td>
                               </tr>
                         </tbody>
                </table>
        </div>
</div>
                                
   
	  
  

	
