<div class="tab-content" id="tabs">
	<div class="alert alert-info" role="alert" style="background-color: white; border: 2px solid #90CAF9; color: black;">
		<strong>NOTE: Please click on update after editing/deleting.</strong>
	</div>
	<div style="text-align: right;">
		<tr>
			<td class="text-right">
				<button type="button" id="firewall_update" title="" class="btn btn-success">Update</button>
			</td>
		</tr>
	</div>
	<ul class="nav nav-tabs" id="my_tab" data-tabs="tabs">
		<li class="TabC TabGn active">
			<a id="sectiontab_firewall_general" href="#tab_general" data-toggle="tab">General Setting 
				<span class="badge"></span>
			</a>
		</li>
                <li class="TabC TabPf">
			<a id=":w" href="#tab_port" data-toggle="tab">Port Forwards 
				<span class="badge"></span>
			</a>
		</li>
		<li class="TabC TabRl">
                        <a id="sectiontab_firewall_rules" href="#tab_rules" data-toggle="tab">Traffic Rules 
				<span class="badge"></span>
			</a>
                </li>
		<li class="TabC TabSn">
                        <a id="sectiontab_firewall_snat" href="#tab_snat" data-toggle="tab">Snat Traffic Rules
                                <span class="badge"></span>
                        </a>
                </li>
                <li class="TabC TabPc">
                        <a id="sectiontab_firewall_parent" href="#tab_parent" data-toggle="tab">Parental Control 
				<span class="badge"></span>
			</a>
                </li>
               <li class="TabC TabZf">
                        <a id="sectiontab_firewall_zonefor" href="#tab_zonefor" data-toggle="tab">Zone Forwarding 
				<span class="badge"></span>
			</a>
                </li>
 

	</ul>
	
	<div class="tab-pane TabC TabGn active" id="tab_general">
		<div id="section_firewall_general"></div>
	</div>
	
	<div class="tab-pane TabC TabPf"  id="tab_port">
		<div id="section_firewall_port"></div>	
		<div id="Mansection_firewall_port" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New port forward:</h3>
			</div>
			
			<table class="table table-condensed table-hover">
				<thead>
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">Name</th>
						<th class="cbi-section-table-cell">Source zone</th>	
						<th class="cbi-section-table-cell">Source port</th>
						<th class="cbi-section-table-cell">Destination IP</th>
						<th class="cbi-section-table-cell">Destination port</th>
						<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="luci2-section-item" id="sectionitem_firewall_redirect_newRedirect" data-luci2-sid="newRedirect">
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_redirect_newRedirect_name" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						
								<td>
				<div class="luci2-field">
				 <div class="luci2-field-widget">
					<select class="form-control luci2-field-validate" id="field_firewall_redirect_newRedirect_src_zone" onchange="handleInterfaceSelectionport()">
					<option value="SW_LAN">SW_LAN</option>
					<option value="ra0">ra0</option>
					<option value="custom">Custom</option>
			          </select>
                         <input type="text" class="form-control luci2-field-validate custom-value-input1" id="field_firewall_zone_newRedirect_srczone"  style="display: none;">
                			<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>	
						
						<script>
	function handleInterfaceSelectionport() {
		var dropdown = document.getElementById("field_firewall_redirect_newRedirect_src_zone");
		var selectedOption = dropdown.options[dropdown.selectedIndex].value;
		var customInput = document.querySelector(".custom-value-input1");

		if (selectedOption === "custom") {
			dropdown.style.display = "none";
			customInput.style.display = "block";
		} else {
			dropdown.style.display = "block";
			customInput.style.display = "none";
		}
	}
</script>	
						
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_redirect_newRedirect_src_port" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						

						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_redirect_newRedirect_dest_ip_addr" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>


						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_redirect_newRedirect_dest_port" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" id="AddNewPortForward" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
	        
		</div>
	</div>
	
	<div class="tab-pane TabC TabRl"  id="tab_rules">
		<div id="section_firewall_rules"> </div>   
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Traffic Rule :</h3>
			</div>
		
			<table class="table table-condensed table-hover">
				<thead>
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">Name</th>
						<th class="cbi-section-table-cell">Protocol</th>
						<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="luci2-section-item" id="sectionitem_firewall_rule_NewRule" data-luci2-sid="NewRule">
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_rule_NewRule_name" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<select class="form-control luci2-field-validate" id="field_firewall_rule_NewRule_proto">
										<option value="tcp udp">TCP+UDP</option>
										<option value="tcp">TCP</option>
										<option value="udp">UDP</option>
										<option value="icmp">ICMP</option>
									</select>
									
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" title="" id="AddNewRule" class="btn btn-success">Add and Edit</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="tab-pane TabC TabSn"  id="tab_snat">
		<div id="section_firewall_snat"> </div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New source NAT:</h3>
			</div>
			
			<table class="table table-condensed table-hover">
				<thead>
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">Name</th>
						<th class="cbi-section-table-cell">Source zone</th>
						<th class="cbi-section-table-cell">Source IP</th>
						<th class="cbi-section-table-cell">SNAT IP</th>
						<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="luci2-section-item" id="sectionitem_firewall_snat_newSnat" data-luci2-sid="newSnat">
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_snat_newSnat_name" type="text"  required="" data-error="enter valid username" placeholder="" >
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_snat_newSnat_src" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_snat_newSnat_dest" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_snat_newSnat_snat_IP" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
						
						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" id="AddNewSnatRule" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
		<div class="tab-pane TabC TabPc"  id="tab_parent">
		<div id="section_firewall_parent"> </div>   
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New parental control :</h3>
			</div>
		
			<table class="table table-condensed table-hover">
				<thead>
					<tr class="cbi-section-table-titles">
						<th class="cbi-section-table-cell">Name</th>

<!--
						<th class="cbi-section-table-cell">Weekdays</th>
-->

						<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="luci2-section-item" id="sectionitem_firewall_pcontrol_NewPcontrol" data-luci2-sid="NewPcontrol">
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_pcontrol_NewPcontrol_name" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>	
			
<!--
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<select class="form-control luci2-field-validate" id="field_firewall_pcontrol_NewPcontrol_weekdays">
										<option value="all">All</option>
										<option value="Sun">Sunday</option>
										<option value="Mon">Monday</option>
										<option value="Tue">Tuesday</option>
										<option value="Wed">Wednesday</option>
										<option value="Thu">Thursday</option>
										<option value="Fri">Friday</option>
										<option value="Sat">Saturday</option>
									</select>
									
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>   
-->
						
						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" title="" id="AddNewParentalControl" class="btn btn-success">Add and Edit</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	
	<div class="tab-pane TabC TabZf"  id="tab_zonefor">
		<div id="section_firewall_zonefor"></div>	
		<div id="Mansection_firewall_zonefor" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Zone Forward:</h3>
			</div>
			
			<table class="table table-condensed table-hover">
				<thead>
					<tr class="cbi-section-table-titles">
<!--
						<th class="cbi-section-table-cell">Name</th>
-->
						<th class="cbi-section-table-cell">Source</th>
						<th class="cbi-section-table-cell">Destination</th>
						<th class="cbi-section-table-cell"> </th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="luci2-section-item" id="sectionitem_firewall_zone_newZone" data-luci2-sid="newZone">
<!--
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_zone_newZone_name" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
-->
			
	
		<td>
				<div class="luci2-field">
				 <div class="luci2-field-widget">
					<select class="form-control luci2-field-validate" id="field_firewall_zone_newZone_src" onchange="handleInterfaceSelection()">
					<option value="SW_LAN">SW_LAN</option>
					<option value="RA0">RA0</option>
					<option value="custom">Custom</option>
			          </select>
                         <input type="text" class="form-control luci2-field-validate custom-value-input" id="field_firewall_zone_newZone_srczone"  style="display: none;">
                			<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>	
						
						<script>
	function handleInterfaceSelection() {
		var dropdown = document.getElementById("field_firewall_zone_newZone_src");
		var selectedOption = dropdown.options[dropdown.selectedIndex].value;
		var customInput = document.querySelector(".custom-value-input");

		if (selectedOption === "custom") {
			dropdown.style.display = "none";
			customInput.style.display = "block";
		} else {
			dropdown.style.display = "block";
			customInput.style.display = "none";
		}
	}
</script>						

			
						
						
<!--
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_zone_newZone_src" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
-->
				
			<td>
				<div class="luci2-field">
				 <div class="luci2-field-widget">
					<select class="form-control luci2-field-validate" id="field_firewall_zone_newZone_dest" onchange="handleDestinationSelection()">
					<option value="CWAN1">CWAN1</option>
					<option value="CWAN1_0">CWAN1_0</option>
					<option value="CWAN1_1">CWAN1_1</option>
					<option value="EWAN5">EWAN5</option>
					<option value="custom">Custom</option>
			          </select>
                         <input type="text" class="form-control luci2-field-validate custom-value-input2" id="field_firewall_zone_newZone_destzone"  style="display: none;">
                			<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>	
						
						<script>
	function handleDestinationSelection() {
		var dropdown = document.getElementById("field_firewall_zone_newZone_dest");
		var selectedOption = dropdown.options[dropdown.selectedIndex].value;
		var customInput = document.querySelector(".custom-value-input2");

		if (selectedOption === "custom") {
			dropdown.style.display = "none";
			customInput.style.display = "block";
		} else {
			dropdown.style.display = "block";
			customInput.style.display = "none";
		}
	}
</script>						
	
						
						
<!--
						<td>
							<div class="luci2-field">
								<div class="luci2-field-widget">
									<input class="form-control luci2-field-validate" id="field_firewall_zone_newZone_dest" type="text" placeholder="">
									<div class="luci2-field-error label label-danger" style="display: none;"></div>
								</div>
							</div>
						</td>
-->
						
						
						<td class="text-right" style="width: 1%;">
							<div class="btn-group">
								<button type="button" id="AddNewzoneForwarding" title="" class="btn btn-success">Add</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
	        
		</div>
	</div>
		
	
</div>
<style>
#section_firewall_snat,#section_firewall_rules.#section_firewall_zone{
border-color: #dddddd;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 30px #0000001a;
    border: 1px solid #70707038;
    border-radius: 10px;
    width:95%;
    padding: 17px;
    margin-bottom: 10px;
}
</style>
