<div class="tab-content" id="tabs">
	<ul class="nav nav-tabs" id="my_tab"  data-tabs="tabs">
        <!-- <h4><b>WAN Configuration</b></h4> -->
	</ul>
		<div id="section_firewall_port"></div>  
		<div id="Mansection_firewall_port" class="panel panel-default">
		<!-- Note with lighter color -->
		<div class="alert alert-info" role="alert" style="background-color: white; border: 2px solid #90CAF9; color: black;">
   				 <strong>NOTE: Please click the Refresh button for latest status.</strong>
		</div> 
			<table class="table table-condensed table-hover">
						<td class="text-right" style="width: 5%;">							
							<button type="button" id="AddNewPortForward" title="" class="btn btn-success">Refresh</button>
						</td>
					</tr>
				</tbody>
			</table>	
     
		</div>


</div>
