<div id="map"></div>
<div style="text-align: right;">
    <tr>
        <td class="text-right">
            <button type="button" id="btn_update" title="" class="btn btn-success">Update</button>
        </td>
    </tr>
</div>
<style>
    .panel-default > .panel-heading {
        color: #333333;
        background-color: #f5f5f5;
        border-color: #dddddd;
        display: none;
    }
           .nav.nav-tabs {
        margin-bottom: 15px;
        width: fit-content;
    }
    div#node_system_system_system_general {
        width: 59%;
    }
    div#field_system_system_system___time {
        background-color: #FAFAFA;
    }
    select#field_system_system_system_zonename {
        background-color: #FAFAFD;
    }
    .panel.panel-default.panel-body.text-right {
        float: left;
        margin-left: 0%;
    }
    
       h2{
    font: normal normal medium 24px/35px Poppins;
    }
h3{
font: 18px Poppins;
letter-spacing: 0px;
color: #000000;
}