<div id="map">

</div>
<div class="tab-content">
	<div class="tab-pane active" id="actions">
		<div class="panel panel-default">
			<div style="float: right;">
				<input class="btn btn-success" type="button" id="btn_run" value="Run-TCP Dump" />
			</div>
			<div class="panel-heading">
				<h3 class="panel-title">
					<%:Download PCAP File%>
				</h3>
			</div>
			<div class="panel-body">
				<!-- Spinner and "Loading..." text -->
				<div id="loading" style="display: none; text-align: center;">
					<div class="spinner" style="margin: 10px auto;"></div>
					<div style="color: #13557E; font-size: 18px; font-weight: bold;">Loading...</div>
				</div>
			</div>
			
			<!-- CSS for the spinner -->
			<style>
				.spinner {
					width: 40px;
					height: 40px;
					border: 4px solid #f3f3f3; /* Light grey */
					border-top: 4px solid #13557E; /* Blue */
					border-radius: 50%;
					animation: spin 1s linear infinite;
				}
			
				@keyframes spin {
					0% {
						transform: rotate(0deg);
					}
					100% {
						transform: rotate(360deg);
					}
				}
			</style>
			
			<!-- JavaScript to toggle the spinner -->
			<script>
				function showLoading() {
					document.getElementById('loading').style.display = 'block';
				}
			
				function hideLoading() {
					document.getElementById('loading').style.display = 'none';
				}
			</script>
			
				<div id="progress-container"
					style="width: 100%; background-color: #f3f3f3; border: 1px solid #ccc; border-radius: 5px; display: none;">
					<div id="progress-bar"
						style="width: 0%; background-color: #4caf50; height: 20px; border-radius: 5px;"></div>
				</div>
				<p id="progress-label"
					style="text-align: center; margin-top: 5px; display: none;color:#428bca; font-weight: bold;">0
					seconds</p>
				<p>
				<p id="Error-label"
					style="text-align: center; margin-top: 5px; display: none;color:red; font-weight: bold;"></p>
				<p>
				<form action="/cgi-bin/file_pcap" method="post" style="display:inline">
					<input type="hidden" name="sessionid" />
					<input class="btn btn-primary" type="button" id="btn_backup" style="display: none;"
						value="<%:Download file%>" />
				</form>
				</p>
			</div>
		</div>