<div id="navbar-example" style="margin-top:20px">
  <div class="row">
<div class="col-md-8">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link active" data-toggle="tab" href="#settings1" id="communicationid" role="tab">WIFI 2.4G AP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#settings2" id="register" role="tab">WIFI 2.4G AP Guest</a>
    </li>
  </ul>
</div><div class="col-md-4">
  <div style="float:right;margin-top:25px;">
    <button class="btn btn-success btnApply" id="update_ipsec" style="padding: 8px 0px;">Update</button>
      <button class="btn btn-primary btnApply" data-toggle="modal" id="addnew" data-target="#exampleModal" 
      style="padding: 8px 0px;">Add New</button>
  </div>
</div>
</div>
  </div>
 
  <div class="tab-content">
    <div class="tab-pane active" id="settings1" name="attributes" role="tabpanel">
      <div class="row">
          <div class="pagecontent">
            <div class="row">
              <div class="col-md-4">
                <label style="font-weight: bold;font-size:15px;">Change Mode</label>
                <select class="form-control" id="Accesspolicy1">
                  <option value="blacklist">Blacklist</option>
                  <option value="whitelist">Whitelist</option>
                  <!-- <option value="disable">Disable</option> -->
                </select>
                
              </div>
              <div class="col-md-2">
                <div style="margin-top:25px;">
                  <button class="btn btn-primary" id="ChangeMode1">Apply</button>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <div id="networktype1" style="margin-top:10px"></div>
          </div>
        </div>
</div>
        
      
    </div>
    <div class="tab-pane" id="settings2" name="attributes" role="tabpanel">
                  <div class="row">
                      <div class="pagecontent">
                        <div class="row">
                          <div class="col-md-4">
                            <label style="font-weight: bold;font-size:15px;">Change Mode</label>
                            <select class="form-control" id="Accesspolicy2">
                              <option value="blacklist">Blacklist</option>
                              <option value="whitelist">Whitelist</option>
                            </select>
                            
                          </div>
                          <div class="col-md-2">
                            <div style="margin-top:25px;">
                              <button class="btn btn-primary" id="ChangeMode2">Apply</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div id="networktype2" style="margin-top:10px"></div>
                      </div>
                    </div>
                  </div>
    </div>
  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" style="border-bottom:1px solid #dddd">
                <h3 class="modal-title" id="updatetext">Basic Information</h3>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-3">
                    <label style="float:right">Status:</label>
                  </div>
                  <div class="col-md-7">
                    <div style="margin-bottom:20px">
                      <label class="switch">
                        <input type="checkbox" checked id="MACfilteringSwitch">
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label style="float:right">MACID :</label>
                  </div>
                  <div class="col-md-7">
                    <input type="text" id="MACID" class="form-control" style="margin-bottom: 10px;"
                      placeholder="XX:XX:XX:XX:XX:XX">
                    <div class="luci2-field-error label label-danger" id="validationResult"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label style="float:right">Network name :</label>
                  </div>
                  <div class="col-md-7">
                    <select class="form-control" id="NetworkMode">
                      <option value="1">WIFI 2.4G AP</option>
                      <option value="2">WIFI 2.4G AP Guest</option>
                      <!-- <option value="disable">Disable</option> -->
                    </select>
                    <div class="luci2-field-error label label-danger" id="validationResult"></div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  style="padding: 5.9px 42px">Cancel</button>
                <button type="button" class="btn btn-primary btnApply" id='Applyconfig'>Save</button>
                <button type="button" class="btn btn-primary btnApply" id='editconfig'>Save</button>

              </div>
            </div>
          </div>
        </div>
<script src="path/to/jquery.min.js"></script>
<script src="path/to/bootstrap.min.js"></script>

<style>
  label {
    font: normal normal normal 13px/18px Poppins;
    color: #2E384D;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    top: -3px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #4caf50;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .table {
    border: 1px solid #dddd
  }

  td,
  th {
    border: 1px solid #dddd;
  }

  .btnApply {
    width: 150px;

  }
</style>

<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover({
      placement: 'bottom',
      // offset: '0 50px' 
    });
  });
const lastSelected1 = localStorage.getItem('Accesspolicy1');
  if (lastSelected1) {
    $('#Accesspolicy1').val(lastSelected1);
  }
 
  // Save the selected option to localStorage on change
  $('#Accesspolicy1').on('change', function () {
    localStorage.setItem('Accesspolicy1', $(this).val());
  });
 
  const lastSelected2 = localStorage.getItem('Accesspolicy2');
  if (lastSelected2) {
    $('#Accesspolicy2').val(lastSelected2);
  }
 
  // Save the selected option to localStorage on change
  $('#Accesspolicy2').on('change', function () {
    localStorage.setItem('Accesspolicy2', $(this).val());
  });
</script>
