<div class="overeviewid">
<div id="system_status_table"></div>
<div id="memory_status_table"></div>
<div id="swap_status_table"></div>
<div id="disk_status_table"></div>
<div id="network_status_table"></div>
<div id="sim_status_table"></div>
<div id="conntrack_status_table"></div>
<div id="lease_status_table">
<div id="lease6_status_table"></div>

</div>
<style>
.overeviewid{
    border-color: #dddddd;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 25px 30px #0000001a;
   border: 1px solid #70707038;
    border-radius: 10px;
    width: 95%;
    padding: 17px;
}
</style>
